body {
    margin: 0;
}

ul.main {
    margin: 0;
    padding: 0;
}

ul.main li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.main li:nth-child(odd) {
    background: #f9f9f9;
}

ul.review li {
    padding: 12px 8px 60px 40px;
}

ul.review li:hover {
    background: #d7d7d7;
}

ul.review li.interesting {
    background: #4CAF50;
    color: #fff;
}

ul.inner li {
    display: inline-block;
    background: transparent;
}

ul.inner li:nth-child(odd) {
    background: transparent;
}

button.update {
    background-color: #4CAF50;
    margin: 25px;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 18px;
    float: right;
}

button.delete {
    background-color: #af371b;
    border: 1px solid #800605;
    color: white;
    padding: 10px 24px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    position: relative !important;
    float: right;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}